@media only screen and (min-width: 980px) {
    #xNav {
        top: 0;
        padding: 0;
    }
    #desktopTitle {
        display: inline;
    }
    .container {
        display: none;
    }
    .bg-img {
        top: 4.17rem;
    }
    #myBtn {
        bottom: 0;
        border-radius: 1rem;
        font-size: 1rem;
    }
}

;