@media only screen and (min-width: 768px) {
    #yNav {
        display: none;
    }
    #xNav {
        top: 38rem;
    }
    .bg-img {
        background-image: url("../images/desktop/desktop.jpg");
    }
}

;