    $PrimaryColor: rgb(11, 104, 110);
    //Body Settings 
    body {
        background-color: #4477a0;
        color: white;
    }
    
    h2:hover {
        background-color: #000;
    }
    
    //Nav Styling
    .bg-img {
        background-image: url("../images/mobile/mobile3.jpg");
        min-height: 600px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border: $PrimaryColor solid .5rem;
        position: relative;
        h1 {
            color: #000;
        }
    }
    
    .container {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    
    .container h1 {
        padding: 1rem;
        margin-top: 2rem;
    }
    
    //Actual link structure
    #yNav {
        position: fixed;
        top: 5.5rem;
        right: 0;
        display: flex;
        flex-direction: column;
        background-color: $PrimaryColor;
    }
    
    //Make the links pretty
    #yNav a {
        list-style: none;
        padding: 1rem;
        background-color: $PrimaryColor;
        text-decoration: none;
        color: white;
        padding-right: 2rem;
        margin-right: 0rem;
    }
    
    //Desktop Items to be hidden
    #desktopTitle {
        display: none;
    }
    
    #xNav {
        display: none;
    }
    
    //Main Content Settings
    main {
        margin-top: 5rem;
    }
    
    .row {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    
    .column {
        flex: 100%;
        flex-grow: 0;
    }
    
    //SECTIONS
    section {
        border: solid 2px $PrimaryColor;
        padding: 1rem;
        a {
            color: rgb(57, 241, 66);
            font-style: italic;
            font-weight: 600;
            font-size: 1.25rem;
        }
        h2,
        h3 {
            text-decoration: underline;
        }
    }
    
    #rules a {
        padding-right: 1rem;
    }
    
    //FOOTER
    footer {
        text-align: center;
    }
    
    //Return to Top Button
    #myBtn {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Fixed/sticky position */
        bottom: 0;
        /* Place the button at the bottom of the page */
        right: 3px;
        /* Place the button 30px from the right */
        z-index: 99;
        /* Make sure it does not overlap */
        border: none;
        /* Remove borders */
        outline: none;
        /* Remove outline */
        background-color: $PrimaryColor;
        /* Set a background color */
        color: white;
        /* Text color */
        cursor: pointer;
        /* Add a mouse pointer on hover */
        padding: 11px;
        /* Some padding */
        border-radius: 1rem;
        font-size: 1rem;
    }
    
    #myBtn:hover {
        background-color: #555;
        /* Add a dark-grey background on hover */
    }